
html body{
    margin: 0;
    height: 100%;
}

.header{
    padding: 15px 0;
    background-color: #fff;
}

.header-content{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-self: center;
    border: 0px solid blue;
    width: 80%;
}

.logo-content-img{

    width: fit-content;
    height: 10%;
    border: solid 0px turquoise;
}


.emp-text{
    font:normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: capitalize;  
}

.emp-payroll{color: black}
*{box-sizing: border-box;}


.form{
    height: 803px;
    position: relative;
    align-content: stretch;
    align-items: center;
    width: 55%;
    background: #ffffff  0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border:1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}


.form-content{
    min-height: calc(100%-80px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}


.form-head{
    padding-top: 3%;
    padding-bottom: 3%;
    background: #008CFF 0% 0% no-repeat padding-box;
    opacity: 1;
    font: normal normal bold 28px/37px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
    text-align: center;
}

.cancel-button {
padding-right: 15px;        
position: relative;
float: right;
    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    background:0% 0% no-repeat padding-box;
    border: none;
    border-radius: 5px;
    

        
}

.content{
    padding-top: 30px;
    display:block;
    text-align:left;
    padding-left: 100px;
}

.row-content{
display: flex;
flex-direction: row;
margin-bottom: 10px;
justify-items: center;
border: 0px solid green;    
}

.label{
    display: inline-block;
    padding: 12px 12px 12px 0px;
    
}

.text{
    font-size: 16px;
    font-family: Roboto;
    padding-top: 3.5%;
    text-align: left;
    min-width: 275px;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}

.address_input{
    font: normal normal normal 18px/24px Roboto;
    background: #ffffff 0% 0% no-repeat padding-box;
    width: 88%;
    height: 50px;
    padding: 12px;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    resize: vertical;
    padding-bottom: 10%;    

}
.input{
    font-size: 16px;
    font-family: Roboto;
    background: #ffffff 0% 0% no-repeat padding-box;
    width: 88%;
    height: 50px;
    padding: 12px;
    font: normal normal normal 18px/24px Roboto;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    resize: vertical;    
}

select{
    margin-left: 0px;
    margin-right: 65px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    resize: vertical;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
}

.small_input{
    font: normal normal normal 18px/24px Roboto;
    background: #ffffff ;
    width: 233px;
    height: 45px;
    border: 0.5px solid #bdbdbd;
    border-radius: 2px;
    resize: vertical;
   
}

.buttonParent{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    margin-top: 30px;
    padding-top: 20px;
}

.submit-reset{
    padding-right: 10%;
}

.submitButton{
    margin-right: 20px;
    letter-spacing: 0px;
    color: #42515F;
    text-align: center;
    font: normal normal normal 20px/26px Roboto;
    width: 180px;
    height: 53px;
    background: #e2e2e2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
}

.resetButton{
    margin-right: 20px;
    letter-spacing: 0px;
    color: #42515F;
    text-align: center;
    font: normal normal normal 20px/26px Roboto;
    width: 180px;
    height: 53px;
    background: #e2e2e2 0% 0% no-repeat padding-box;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;

}

.footer-content{
margin-top: 3%;
}

error-output{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
    font-style: italic;
    color: red;
}